@import "../../Shared/UI/scss/shared.scss";

.education-panel {
    @include center-flex;
}

#education-canvas {
    width: 100vw;
    height: 100vh;
    @include absolute-center(fixed);
    z-index: -1;
}

#education {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: [header] 2em [first] 1fr [second] 1fr;
    h3 {
        font-size: xx-large;
        grid-row: header;
        justify-self: center;
    }
}

.education-grid {
    @include bio-panel-grid();
    margin: 10px 5vw;
    grid-template-columns: 15% 75%;
    grid-template-rows: [title] 20% [list] 1fr;
    .education-logo {
        grid-column: 1;
        grid-row: title / span 2;
        max-width: 95%;
        max-height: 75%;
        min-width: 50%;
        min-height: 50%;
        justify-self: center;
        align-self: center;
        object-fit: scale-down;
    }
    .education-label {
        @include absolute-center-horizontal;
        grid-column: 2;
        grid-row: title;
    }
    .education-list {
        grid-column: 2;
        grid-row: list;
        align-self: center;
    }
    #liftoff.btn-navbar {
        border: none;
        padding: 0.2rem 0.2rem;
        translate: 0px -8%;
    }
}

[data-bs-theme="redshift"] .education-grid {
    #lc-logo, #wu-logo {
        filter: contrast(4%) hue-rotate(2.6rad) brightness(185%);
    }
}

[data-bs-theme="deepblue"], [data-bs-theme="dark"] .education-grid {
    #lc-logo, #wu-logo {
        filter: contrast(10%) hue-rotate(2.95rad) brightness(185%);
    }
}
