@use "sass:map";
@import "../../Shared/UI/scss/shared.scss";

$button-border-colors: ("light": $body-emphasis-color,
                        "dark": $headings-color-dark,
                        "deepblue": $headings-color-deepblue,
                        "redshift": $headings-color-redshift);

@mixin button-border-pulse($name, $rgba) {
    @keyframes button-border-pulse-#{$name} {
        0% {
            border-color: rgba(0, 0, 0, 0);
        }
        40% {
            border-color: rgba(0, 0, 0, 0);
        }
        50% {
            border-color: $rgba;
        }
        60% {
            border-color: rgba(0, 0, 0, 0);
        }
        100% {
            border-color: rgba(0, 0, 0, 0);
        }
    }
}

@each $key, $value in $button-border-colors {
    $button-border-colors: mapToRgba($button-border-colors, $key, $value);
    @include button-border-pulse($key, $value);
    [data-bs-theme="#{$key}"] {
        .education-grid {
            #liftoff.btn-navbar.btn:not(.active) {
                border-color: rgba(0, 0, 0, 0);
                animation: 5s ease-in-out 3s infinite normal button-border-pulse-#{$key};
            }
            #liftoff.btn-navbar.btn.active {
                $color: map.get($button-border-colors, $key);
                border-color: $color;
                color: $color;
                pointer-events: none;
                @if $key == "redshift" {
                    background-color: shade-color($redshift-antares, 50%);
                }
                @else {
                    background-color: var(--bs-secondary-border-subtle);
                }
            }
        }
    }
}

.education-panel {
    @include center-flex;
    margin-top: $navbar-item-height + 12vh;
}

#education {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: [header] 3em [first] 1fr [second] 1fr;
    h3 {
        font-size: xx-large;
        grid-row: header;
        justify-self: center;
    }
}

.education-grid {
    @include bio-panel-grid();
    margin: 10px 5vw;
    grid-template-columns: 15% 75%;
    grid-template-rows: [title] 20% [list] 1fr;
    .education-logo {
        grid-column: 1;
        grid-row: title / span 2;
        justify-self: center;
        align-self: center;
        object-fit: scale-down;
    }
    .education-logo:not(#lc-logo-container) {
        max-width: 95%;
        max-height: 75%;
        min-width: 50%;
        min-height: 50%;
    }
    #lc-logo {
        width: auto;
        height: auto;
        max-width: 95%;
        max-height: 75%;
        min-width: 50%;
        min-height: 50%;
    }
    #rocket-canvas {
        position: absolute;
    }
    //.education-logo#lc-logo, .education-logo#lc-rocket {
        //@include opacity-fade(0.65s);
    //}
    .education-label {
        @include absolute-center-horizontal;
        grid-column: 2;
        grid-row: title;
    }
    .education-list {
        grid-column: 2;
        grid-row: list;
        align-self: center;
    }
    #liftoff.btn-navbar {
        width: 3.25rem;
        padding: 0.2rem 0.2rem;
        translate: 0px -8%;
    }
}

[data-bs-theme="redshift"] .education-grid {
    #lc-logo, #wu-logo, #lc-rocket {
        filter: contrast(8%) hue-rotate(2.6rad) brightness(185%);
    }
}

[data-bs-theme="deepblue"] .education-grid, 
[data-bs-theme="dark"] .education-grid {
    #lc-logo, #wu-logo, #lc-rocket {
        filter: contrast(4%) hue-rotate(2.95rad) brightness(185%);
    }
}
