@import "../../Shared/UI/scss/shared.scss";

#profile-img {
    border-radius: 50%;
}

.title-bar {
    @include center-flex;
    margin-top: $navbar-item-height + 2vh;
}

#nameplate {
    @include bio-panel-grid();
    margin: 10px 100px;
    grid-template-columns: 10vw 35vw;
    grid-template-rows: 1vw 3vw 2vw 1vw;
    h1 {
        font-size: 3.2vw;
        grid-row: 2;
        justify-self: start;
    }
    h2 {
        font-size: 2vw;
        grid-row: 3;
        grid-column: 2;
    }
    img {
        max-height: 6vmax;
        min-height: 6vmax;
        grid-row-start: 2;
        grid-row-end: span 4;
        justify-self: right;
    }
}

