@import "../../../Shared/UI/scss/shared.scss";

/*
@mixin contact-logo-size {
    max-height: calc(#{$navbar-item-height} - 3vh);
    max-width: 12vw;
}

@mixin contact-logo-white {
    filter: brightness(0%) invert(100%);
}
*/

#contact-links {
    float: right;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    gap: $link-btn-padding;
}

#contact-links .btn {
    @include navbar-button;
    svg {
        margin-top: -0.125em;
    }
}

#contact-links .btn[disabled] {
    $color: var(--bs-heading-color);
    color: contrast($color, 45%);
    border-color: contrast($color, 45%);
    pointer-events: none;
    @include transition-color(1s, 0s);
}

/*
#linkedin, #github {
    @include contact-logo-size();
}

[data-bs-theme="dark"],
[data-bs-theme="deepblue"],
[data-bs-theme="redshift"] {
    #linkedin {
        @include contact-logo-white();
    }
    #github {
        @include contact-logo-white();
    }
}
*/

[data-bs-theme="light"] #contact-links .btn {
    --bs-btn-border-color: var(--bs-body-color);
    --bs-btn-color: var(--bs-body-color);
}

[data-bs-theme="light"] 
#contact-links .btn:hover img {   
    //@include contact-logo-white();
    transition: filter 0.1s linear;
}

.item-a {
    grid-column: 2;
}
