@import "./shared.scss";

.footer {
    background-color: #{$navbar-shared-color};
    height: 6vh;
    position: fixed;
    bottom: 0px;
}

.footer #theme-menu {
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 4vw 10vw 10vw;
    grid-template-rows: 5vh;
    position: fixed;
    left: 2%;
    bottom: 0.5vh;
    margin: 0px 10px;

    button {
        font-size: 2.5vmin;
        line-height: 2.5vmin;
        white-space: nowrap;
        overflow: hidden;
        min-width: 3vw;
        min-height: 2vh;
        max-height: 6vh;
    }

    button.theme-label {
        justify-self: end;
        grid-column: 2;
        min-width: 8vw;
        max-width: 30vw;
    }

    button.dropdown-toggle {
        justify-self: start;
        grid-column: 3;
    }
}

.powered-by {
    font-size: 3vh;
    position: fixed;
    right: 2%;
    bottom: 10.5vh;
    transform: rotateZ(10deg);
    visibility: hidden;
    opacity: 0%;
}

.powered-by.active-footer {
    font-size: 3vh;
    bottom: 0.5vh;
    visibility: visible;
    transform: rotateZ(0deg);
    opacity: 100%;
}

#footer-logo {
    height: 4vh;
}

#footer-logo.react {
    translate: 0px -0.5vh;
}

#footer-logo.three {
    translate: 0.5vh -0.5vh;
    filter: contrast(0%) brightness(200%);
}

@media (prefers-reduced-motion: no-preference) {
    .powered-by {
        transition: bottom 2s ease-out 0s, 
                    opacity 2s ease-out 0s, 
                    visibility 2s ease-out 0s, 
                    transform 2s ease-out 0s;
    }
    .powered-by.active-footer {
        transition: bottom 2s ease-in 0s, 
                    opacity 2s ease-in 0s, 
                    visibility 2s ease-in 0s, 
                    transform 2s ease-in 0s;
    }

    #footer-logo.react {
        animation: 10s ease-in-out 0.25s infinite react-spin;
    }
    
    #footer-logo.three {
        transform-origin: 45% 45%;
        animation: 35s ease-in-out 0s infinite three-skew;
        animation-direction: alternate-reverse;
    }
}

@keyframes three-skew {
    0% {
        transform: rotate(0deg) skewX(0rad) skewY(0rad);
    }
    25% {
        transform: rotate(-360deg) skewX(-0.4rad) skewY(-0.4rad);
    }
    50% {
        transform: rotate(-720deg) skewX(0rad) skewY(0rad);
    }
    75% {
        transform: rotate(-1080deg) skewX(0.4rad) skewY(0.4rad);
    }
    100% {
        transform: rotate(-1440deg) skewX(0rad) skewY(0rad);
    }
}

@keyframes react-spin {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(720deg);
    }
    100%{
      transform: rotate(0deg);
    }
}
