@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/variables-dark";
@import "../../../Shared/Themes/scss/variables-deepblue.scss";
@import "../../../Shared/Themes/scss/variables-redshift.scss";
@import "../../../../node_modules/bootstrap/scss/mixins/";

$nav-button-color: $headings-color or $body-emphasis-color;
$navbar-item-height: 7vh;
$navbar-shared-color: var(--bs-secondary-bg-subtle);
$link-btn-padding: 5px;
$all-themes: ("light", "dark", "deepblue", "redshift");

@function mapToRgba($map, $key, $value, $opacity: 1) {
    $new: rgba($value, $opacity);
    @return map.set($map, $key, $new);
}

@mixin opacity-fade($duration: 1s) {
    transition: opacity $duration ease-in-out;
}

@mixin navbar-button {
    clear: both;
    padding-left: $link-btn-padding;
    padding-right: $link-btn-padding;
    --bs-btn-border-color: var(--bs-heading-color);
    --bs-btn-color: var(--bs-heading-color);
    font-size: 3vmin;
    width: 6em;
    white-space: nowrap;
    overflow: hidden;
    height: #{$navbar-item-height};
}

@mixin center-flex {
    display: flex;
    justify-content: center;
}

@mixin absolute-center-horizontal {
    position: absolute;
    left: 50%;
    translate: -50% 0px;
}

@mixin absolute-center-vertical {
    position: absolute;
    top: 50%;
    translate: 0px -50%;
}

@mixin absolute-center($mode: absolute) {
    position: $mode;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

@mixin button-navbar-active($hover-text, $hover-bg, $active-bg: $hover-bg) {
    --#{$prefix}btn-hover-color: #{$hover-text};
    --#{$prefix}btn-hover-bg: #{$hover-bg};
    --#{$prefix}btn-hover-border-color: #{$hover-bg};
    --#{$prefix}btn-active-border-color: #{mix($active-bg, $hover-bg, 75%)};
    --#{$prefix}btn-active-bg: #{$active-bg};
    --#{$prefix}btn-active-color: #{contrast($hover-text, 25%)};
}

@mixin bio-panel-grid ($width: unset, $gap: 12px) {
    margin: auto;
    display: grid;
    margin-top: 2.5%;
    width: $width;
    grid-gap: $gap;
    border-radius: 5% 5% 5% 5%;
    background-image: linear-gradient(var(--bs-secondary-bg), var(--bs-body-bg));
}

@mixin skills-panel-grid($width: unset, $gap: 12px) {
    @include bio-panel-grid($width, $gap);
    background-image: radial-gradient(var(--bs-secondary-bg), var(--bs-body-bg));
}

@mixin transition-color($duration: 2s, $delay: 0s) {
    transition: color $duration linear $delay,
                border-color $duration linear $delay,
                border $duration linear $delay,
                background-color $duration linear $delay,
                background-image $duration linear $delay,
                opacity $duration linear $delay;
}
