@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/variables-dark";
@import "../../../Shared/Themes/scss/variables-deepblue.scss";
@import "../../../Shared/Themes/scss/variables-redshift.scss";
@import "../../../../node_modules/bootstrap/scss/mixins/";

$nav-button-color: $headings-color or $body-emphasis-color;
$navbar-item-height: 7vh;
$navbar-shared-color: var(--bs-secondary-bg-subtle);
$link-btn-padding: 5px;

@mixin center-flex {
    display: flex;
    justify-content: center;
}

@mixin absolute-center-horizontal {
    position: absolute;
    left: 50%;
    translate: -50% 0px;
}

@mixin absolute-center-vertical {
    position: absolute;
    top: 50%;
    translate: 0px -50%;
}

@mixin absolute-center($mode: absolute) {
    position: $mode;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

@mixin button-navbar-active($hover-text, $hover-bg, $active-bg: $hover-bg) {
    --#{$prefix}btn-hover-color: #{$hover-text};
    --#{$prefix}btn-hover-bg: #{$hover-bg};
    --#{$prefix}btn-hover-border-color: #{$hover-bg};
    --#{$prefix}btn-active-border-color: #{mix($active-bg, $hover-bg, 75%)};
    --#{$prefix}btn-active-bg: #{$active-bg};
    --#{$prefix}btn-active-color: #{contrast($hover-text, 25%)};
}

@mixin bio-panel-grid ($width: unset, $gap: 12px) {
    margin: auto;
    display: grid;
    margin-top: 2.5%;
    width: $width;
    grid-gap: $gap;
    border-radius: 5% 5% 5% 5%;
    background-image: linear-gradient(var(--bs-secondary-bg), var(--bs-body-bg));
}

.btn-navbar {
    @include button-outline-variant($nav-button-color);
}

[data-bs-theme="dark"] .btn-navbar {
    @include button-outline-variant($headings-color-dark);
    @include button-navbar-active($headings-color-dark, $primary-bg-subtle-dark);
}

[data-bs-theme="deepblue"] .btn-navbar {
    @include button-outline-variant($headings-color-deepblue);
    @include button-navbar-active($headings-color-deepblue, 
                                  mix($deepblue-fathom, $deepblue-regalia, 75%));
}

[data-bs-theme="redshift"] .btn-navbar {
    @include button-outline-variant($headings-color-redshift);
    @include button-navbar-active($headings-color-redshift, 
                                  mix($body-bg-redshift, $redshift-inferno, 45%),
                                  $redshift-inferno);
}
