.footer {
    display: flex;
    justify-content: right;
    max-width: 97%;
}

.footer > * {
    vertical-align: middle;
}

#react-logo {
    height: 1.5rem;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    #react-logo {
        animation: 10s ease-in-out 0.25s infinite react-spin;
    }
}

@keyframes react-spin {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(720deg);
    }
    100%{
      transform: rotate(0deg);
    }
}
