$link-btn-padding: 25px;

#contact-links {
    margin-top: $link-btn-padding;
    display: grid;
    width: 100%;
    place-items: center;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
}

#contact-links .btn {
    padding-left: $link-btn-padding;
    padding-right: $link-btn-padding;
    --bs-btn-border-color: var(--bs-heading-color);
    --bs-btn-color: var(--bs-heading-color);
    width: 15vw;
}

[data-bs-theme="light"] #contact-links .btn {
    padding-left: $link-btn-padding;
    padding-right: $link-btn-padding;
    --bs-btn-border-color: var(--bs-body-color);
    --bs-btn-color: var(--bs-body-color);
    width: 15vw;
}

#profile-img {
    border-radius: 65%;
}

.item-a {
    grid-column: 2;
}

#nameplate {
    margin: auto;
    display: grid;
    margin-top: 2.5%;
    width: 75%;
    height: 200px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1vw 3vw 2vw 1vw;
    grid-gap: 12px;
    h1 {
        font-size: 3.2vw;
        grid-row-start: 2;
        justify-self: start;
    }
    h2 {
        font-size: 2vw;
        grid-row-start: 3;
        grid-column-start: 2;
    }
    img {
        max-height: 6vmax;
        min-height: 6vmax;
        grid-row-start: 2;
        grid-row-end: span 4;
        justify-self: right;
    }
}

