@import "../Shared/Themes/scss/shared.scss";

.navbar {
    background-color: var(--bs-secondary-bg);
    display: grid;
    grid-template-columns: 0.5fr 1fr 3fr 3fr 0.5fr;
    grid-template-rows: #{$navbar-item-height};
    container-type: inline-size;
    height: calc(#{$navbar-item-height} + 3vh) !important;
}
