@import "../../Shared/Themes/scss/shared.scss";

$link-btn-padding: 5px;

@mixin contact-logo-size {
    max-height: calc(#{$navbar-item-height} - 3vh);
    max-width: 12vw;
}

@mixin contact-logo-white {
    filter: brightness(0%) invert(100%);
}

#contact-links {
    grid-column: 4;
    display: grid;
    width: 100%;
    place-items: center;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
    grid-template-rows: #{$navbar-item-height};
    grid-gap: 1vw;
}

#contact-links .btn {
    padding-left: $link-btn-padding;
    padding-right: $link-btn-padding;
    --bs-btn-border-color: var(--bs-heading-color);
    --bs-btn-color: var(--bs-heading-color);
    font-size: 3vmin;
    white-space: nowrap;
    overflow: hidden;
    min-width: 15vw;
    height: #{$navbar-item-height};
}

#linkedin, #github {
    @include contact-logo-size();
}

[data-bs-theme="dark"],
[data-bs-theme="deepblue"],
[data-bs-theme="redshift"] {
    #linkedin {
        @include contact-logo-white();
    }
    #github {
        @include contact-logo-white();
    }
}

[data-bs-theme="light"] #contact-links .btn {
    --bs-btn-border-color: var(--bs-body-color);
    --bs-btn-color: var(--bs-body-color);
}

[data-bs-theme="light"] 
#contact-links .btn:hover img {   
    @include contact-logo-white();
    transition: filter 0.1s linear;
}

.item-a {
    grid-column: 2;
}
