
//bootstrap functions and mixins
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/functions";

//default variable overrides

//example
//$primary: #a71221;

//default variables
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

//theme variables go here

$enable-theme-deepblue: true !default;
$enable-theme-redshift: true !default;
@import "../src/Shared/Themes/scss/variables-deepblue.scss";
@import "../src/Shared/Themes/scss/variables-redshift.scss";

//the rest of bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

//theme overrides and custom code go here

@import "../src/Shared/Themes/scss/theme-deepblue.scss";
@import "../src/Shared/Themes/scss/theme-redshift.scss";

//extra css variables
$theme-colortypes: "primary", "secondary", "info", "success", "warning", "danger";

@each $type in $theme-colortypes {
    .bg-#{$type}-theme {
        background-color: var(--#{$prefix}bg-#{$type}-theme);
    }
}

.invisible {
    opacity: 0 !important;
}
